body {
   margin: 0px;
   border: 0px;
   padding: 0px;
   font-family: sans-serif;
   color: rgb(255, 192, 0);
}

#map {
   height: 100%;
   width: 100%;
   position: absolute;
   cursor: default;
}
/*Toggleable buttons*/
  #navigate {
   position: absolute;
   bottom: 220px;
   left: 15px;
   z-index: 1001;
   background-color:rgba(8, 8, 1, 0.0);
   /* display: none; */
   width: 230px;
   height: 50px;
   border-radius: 6px;
}

  #navigate div {
   margin: 10px;
   padding: 0.5em;
   background-image: linear-gradient(to right, red , green);
   border: 1px solid black;
   border-radius: 3px;
   color: white;
   box-shadow: 2px 2px 2px black;
   text-align: center;
   border-radius: 5px;
   cursor: pointer;
   opacity: 1;
   transition: 0.15s;
}

  #navigate div.off {
   opacity: 0.5;
   color: gray;
}

#navigate div:hover {
   margin: 10px;
   padding: 0.5em;
   color: white;
   box-shadow: 4px 4px 4px black;
}

#control {
   width: 300px;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color:rgba(8, 8, 1, 0.5);
   z-index: 1000;
   padding: 0px;
}

/* Titel */
.titel{
  display: inline-block;
  width: 100%;
  height: 100px;
  margin: 0px 0px 50px 0px;
}

#titel-image neg {
  color:  rgb(255, 192, 0);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: larger;
  position: absolute;
  top: 50px;
  left: 50px;
  font-family: sans-serif;
}

#titel-image img {
  width: 300px;
  height: 100px;
}

/* Credentials */

#credentials {
  color: rgb(173, 131, 2);
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: small;
  position: absolute;
  bottom: 0px;
  left: 10px;
  font-family: sans-serif;
  cursor: default;
}



/* Point Buttons */
.button {
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 0.5px solid #EA0000;
  border-radius: 5px;
  margin: 10px 10px 10px 10px;
  color:  rgb(255, 255, 255);
  text-align: center;
  
}

b {
  color:  rgb(255, 255, 255);
  text-decoration: none;
  letter-spacing: 1px;
  font-size: .8em;
  vertical-align: -30px;
}

a {
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  left: -200px;
  position: absolute;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .35s ease-Out;
  bottom: 0;
}
/*button winterDienst*/
#button-winter {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-winter a {
  position: absolute;
  left: 0;
  transition: all .35s ease-Out;
}

#button-winter img {
  width: auto;
  height: auto;
}

#button-winter:hover b {
  left: 0;
  
}

#button-winter:hover a {
  left: 150;
}
/*button dangerJunctions*/
#button-junctions {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-junctions a {
  position: absolute;
  left: 0;
  transition: all .35s ease-Out;
}

#button-junctions img {
  width: auto;
  height: auto;
}

#button-junctions:hover b {
  left: 0;
  
}

#button-junctions:hover a {
  left: 150;
}

/*button streetLight*/
#button-light {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-light a {
  position: absolute;
  left: 0;
  transition: all .35s ease-Out;
}

#button-light img {
  width: auto;
  height: auto;
}

#button-light:hover b {
  left: 0;
  
}

#button-light:hover a {
  left: 150;
}

/*button slowDown*/
#button-slow {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-slow a {
  position: absolute;
  left: 0;
  transition: all .35s ease-Out;
}

#button-slow img {
  width: auto;
  height: auto;
}

#button-slow:hover b {
  left: 0;
  
}

#button-slow:hover a {
  left: 150;
}

